*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
$color1: rgb(157, 217, 195);
$color2: rgb(141, 221, 149);

body {
  background-image: linear-gradient(to right, $color1, $color2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: monospace;
  font-size: 1.8rem;
}
.container > *:not(:last-child) {
  margin-bottom: 0.5em;
}
.container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  .heading {
    font-size: 2.5rem;
  }
  label {
    font-size: 1.5rem;
    color: rgb(110, 143, 125);
  }
  .input {
    margin-left: 1em;
    width: 94%;
    height: 3rem;
    background-color: rgb(212, 241, 224);
    border: none;
    padding-inline-start: 1em;
    font-weight: 500;
    margin-top: 0.7em;
    border-radius: 0.5rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
    }
  }

  .btn {
    margin-top: 0.7em;
    margin-left: 1em;
    width: 95%;
    padding: 0.5em 0;
    background-color: rgb(134, 218, 141);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #5a5555;
    font-size: 1.5rem;
    transition: all 0.3s ease-in;
    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: scale(0.96);
    }
  }
  p {
    margin-block-start: 1em;
    color: rgb(77, 109, 92);
    font-size: 1.7rem;
  }
}
