*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    to left bottom,
    lightblue,
    lightpink,
    lightblue
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: green;
}
.container {
  -webkit-backdrop-filter: blur(0.7rem);
  backdrop-filter: blur(0.7rem);
  background-color: rgba(255, 255, 255, 0.3);

  padding: 3em;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  width: 60%;

  .heading {
    font-size: 2.5rem;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2rem;
  }
  .joke {
    font-size: 2rem;
    margin: 3em;
    font-weight: 500;
  }
  .btn {
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
    color: green;
    background-color: rgba(255, 255, 255, 0.3);

    border-color: rgba(255, 255, 255, 0.6);
    padding: 0.6em 2.5em 0.6em 2.5em;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);

      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
    }
  }
}
